.image-section {
    display: flex;
    justify-content: space-between;
}
.image-section-bar {
    border-right: 1px dotted;
}
.image-section-detail {
    flex-grow: 2;
}
.image-bar-container {
    display: flex
}
.image-section-bar::after {
    border: 1px solid black
}
.image-bar {
    display: flex;
    flex-flow: column;
}
/* .image-container-right {
    margin-top: 15px;
} */

.card-image {
    margin: 5px;
    width: 13rem;

}

.card-image:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s;
}

/* .card-img-top {
    width: 50%
} */

.indicator {
    color: white;
    border: 1px solid;
    width: auto;
}

.indicator-selected {
    color: green;
}
.info {
    color: blue;
    font-weight: 14px;
    font-variant: small-caps;
    letter-spacing: 1px;
}